@{
    ViewBag.Title = "Home Page";
}

<section class="row container-fluid">
    <article class="col-md-12 hidden-xs Principal-image">
        <div class="">
            <div class="textocitadoprincipal "><br> “Muchas veces la gente no sabe lo que quiere hasta que se lo enseñas” <br><i>Steve Jobs</i></div>
            <div class=" cetrarH"><img id="imgpresentacion" src="img/img13.jpg" alt="Error" loading="lazy" class="img-circle img-responsive"></div>
        </div>
    </article>
</section>


<main class="row" id="mainprincipal">
    <!--<aside class="hidden-xs col-xs-12 col-md-4 centrar">
    <div class="listaindex">
        <ul class="">
            <li>
                <strong><a href="Unidad1.html">Alumnos</a></strong>
                <ul>
                    <li><a href="Unidad1.html#tema1.1">🏳️ Todos</a></li>
                    <li><a href="Unidad1.html#tema1.2">🏳️ Agregar</a></li>
                </ul>
            </li>
            <li>
                <strong><a href="Unidad2.html">Asesores</a></strong>
                <ul>
                    <li><a href="Unidad2.html#tema2.1">🏳️ Todos</a></li>
                    <li><a href="Unidad2.html#tema2.2">🏳️ Agregar</a></li>
                </ul>
            </li>
            <li>
                <strong><a href="Unidad3.html">Proyectos</a></strong>
                <ul>
                    <li><a href="Unidad3.html#tema3.1">🏳️ Todos</a></li>
                    <li><a href="Unidad3.html#tema3.2">🏳️ Nuevo</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <br><br>
    <br><br>


    <br><br>
    </aside>-->

    <section class="col-md-12" id="seccionmodulos">
        <div class="main row">
            <div class="centrar col-md-4">
                <a href="~/Alumno/Index" class="linka">
                    <article class="aticulomodulo">
                        <div class="divmodulo"><img src="img/img11.png" alt="Error al cargar" class="imgRedonda img-responsive"></div>
                        <h3 class="textoblanco">Alumnos</h3>
                        <h4 class="textoblanco">Entrar</h4>
                    </article><br><br>
                </a>
            </div>
            <div class="centrar col-md-4">
                <a href="~/Asesor/Index" class="linka">
                    <article class="aticulomodulo">
                        <div class="divmodulo"><img src="img/img9.png" alt="Error al cargar" class="imgRedonda img-responsive"></div>
                        <h3 class="textoblanco">Asesores</h3>
                        <h4 class="textoblanco">Entrar</h4>
                    </article><br><br>
                </a>
            </div>
            <div class="centrar col-md-4">
                <a href="~/Proyecto/Index" class="linka">
                    <article class="aticulomodulo">
                        <div class="divmodulo"><img src="img/img10.png" alt="Error al cargar" class="imgRedonda img-responsive"></div>
                        <h3 class="textoblanco">Proyectos</h3>
                        <h4 class="textoblanco">Entrar</h4>
                    </article><br><br>
                </a>
            </div>


        </div>


        <hr><!--Salto de linea con linea divisora-->
        <div class="centrar">
            <br><br>
            <h2 class="textoblanco">Información</h2>
            <section class="sectionindex">
                <h3 class="">Personal</h3>
                <img src="img/img17.jpg" alt="Error al cargar" class="imgRedondasection">
                <div class="textojustificado">
                    <p>
                        <strong>Nombre:</strong> <mark>CASTILLO DE ALBA JOSE ARTURO</mark> <br>
                        <strong>Correo personal:</strong> arturo11810@gmail.com<br>
                        <strong>Teléfono móvil:</strong> (+52) 98310437778<br>
                        <strong>Estado Civil:</strong> Soltero<br>
                    </p>
                </div>
            </section><br><br><br>

            <section class="sectionindex">
                <h3 class="ancho100 textocentrado">Académica</h3>
                <img src="img/img18.jpg" alt="Error al cargar" class="imgRedondasection">
                <div class="textojustificado">
                    <p>
                        <strong>Año:</strong> 2006 - 2012<br>
                        <strong>Estudios:</strong> Primaria<br>
                        <strong>Institución:</strong> Escuela Primaria Urbana Estatal “Presidente Obregón” <br>
                        <strong>Título:</strong> Certificado de estudios<br>
                    </p>
                    <p>
                        <strong>Año:</strong> 2012 - 2015<br>
                        <strong>Estudios:</strong> Secundaria<br>
                        <strong>Institución:</strong> Adolfo López Mateos<br>
                        <strong>Título:</strong> Certificado de estudios<br>
                    </p>
                    <p>
                        <strong>Año:</strong> 2015 - 2018<br>
                        <strong>Estudios:</strong> Preparatoria “Técnico en programación”<br>
                        <strong>Institución:</strong> DGETI CBTIS 253 “Miguel Hidalgo y Costilla”<br>
                        <strong>Título:</strong> Certificado de estudios<br>
                    </p>
                    <p>
                        <strong>Año:</strong> En proceso<br>
                        <strong>Estudios:</strong> INGENIERÍA EN SISTEMAS COMPUTACIONALES<br>
                        <strong>Institución:</strong> INSTITUTO TECNOLÓGICO DE CHETUMAL<br>
                    </p>
                </div>
            </section>

        </div>

        <br><br><br><br><br><br><br><br><br><br>
    </section>
</main>